---
layout: fullpage
title : Archives
navbar_title: Archives
container_class: container-xl
---

{% assign archives = site.archives | sort: "date" | reverse | where: "show", true %}

{% for item in archives %}

<h3>{{ item.group }}</h3>

<div class="row grid mb-4">
    <div class="grid-sizer col-1"></div>

    {% for image in item.images %}

    <div class="p-2 grid-item col-md-4 col-sm-6 col-6">
        <div class="card border-0 shadow-sm bg-white">

            <img
                src="{{ image.src | relative_url }}"
                class="w-100 rounded-xl"
                title="{{ image.title }}"
            >

            <div class="card-body">
                <p class="card-text">
                    {{ image.text }}
                </p>
            </div>

        </div>
    </div>

    {% endfor %}
</div>

{% endfor %}