---
layout: default
title : Blog
navbar_title: Blog
body_attr: >-
  data-spy="scroll" data-target="#navbar-year" data-offset="100"
---

<!-- {% assign blogs_by_year = site.posts | sort: "date" | reverse | group_by_exp: "item", "item.date | date: '%Y'" %}

<div class="row">
    <div class="col-12 col-lg-10">

        
        <div class="p-4 bg-white shadow-sm rounded-xl"
             style="position: sticky; top: 20px; z-index: 10;">
            <h5>About My Blog</h5>
            <p class="mb-0">
                Hey! This is a space I’ve created purely for my interests where I will occasionally post about life,
                work, and studies or anything. I want to say that I’m still finding my voice and would never consider
                myself an "actual" writer. Honestly, I’ve been writing for years, but I still struggle with self-doubt
                and hardly ever feel good
                about what I write. This space is my commitment to actually write and keep writing. I want to do that
                because writing is hard, but it brings clarity to my thoughts. It helps me reflect, better understand
                myself, and make
                sense of the world. If I keep hesitating, I may never end up writing anything at all. And if I never
                write,
                I’ll never have the chance to look back, revisit my thoughts, and see how they’ve evolved over time. So
                I’ve decided to
                write anyway, even if it’s just a few bullet points or a handful of condensed keywords. More than
                anything, I want this to be a space for reflection, learning, and capturing thoughts that I
                may want to revisit later. I’m glad to share this special corner with you - if you happen to stumble
                upon it!
            </p>
        </div>

        
        <div>
            {% for year in blogs_by_year %}
            {% assign num_blogs = year.items | size %}

            <h2 class="pt-4" id="year-{{ year.name }}">
                {{ year.name }}
            </h2>

            <div class="my-0 p-0 bg-white shadow-sm rounded-xl">
                {% for item in year.items %}
                    {% include widgets/blog_card.html item=item hide_bottom_border=forloop.last first=forloop.first last=forloop.last %}
                {% endfor %}
            </div>

            {% endfor %}
        </div>

    </div>

    
    <div class="col-2 d-none d-lg-block">
        <div id="navbar-year"
             class="nav nav-pills flex-column sticky-top"
             style="top: 80px">

            {% for year in blogs_by_year %}
            <a class="nav-link d-block" href="#year-{{ year.name }}">
                {{ year.name }}
            </a>
            {% endfor %}

        </div>
    </div>
</div> -->

{% assign blogs_by_year = site.posts | sort: "date" | reverse | group_by_exp: "item", "item.date | date: '%Y'" %}

<div class="row">
    <div class="col-12 col-lg-10">
        {% for year in blogs_by_year %}
        {% assign num_blogs = year.items | size %}
        <h2 class="pt-4" id="year-{{ year.name }}">{{ year.name }}</h2>
        <div class="my-0 p-0 bg-white shadow-sm rounded-xl">
            {% for item in year.items %}
                {% include widgets/blog_card.html item=item hide_bottom_border=forloop.last first=forloop.first last=forloop.last %}
            {% endfor %}
        </div>
        {% endfor %}
    </div>

    <div class="col-2 d-none d-lg-block">
        <div id="navbar-year" class="nav nav-pills flex-column sticky-top" style="top: 80px">
            {% for year in blogs_by_year %}
            <a class="nav-link d-block" href="#year-{{ year.name }}">{{ year.name }}</a>
            {% endfor %}
        </div>
    </div>

</div>